@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap');

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#sidebar {
    background-color: #2D2B36;
    min-width: 180px;
    max-width: 180px;
    min-height: 100vh;
    flex-wrap: nowrap;
}

#main {
    background-color: #201F26;
    box-shadow: -5px 0 20px -5px rgba(0,0,0,0.3);
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100vw;
}

#appNavbar {
    background-color: #201F26;
    height: 60px;
}

.sidebarIcon {
    margin-right: 1rem;
}

.activeMarker {
    width:5px;
    height:17px;
    background-color: #E61B4C;
    position:absolute;
    top:150px;  
}

.sidebarItem {
    color: #5D5D5D;
    font-size: 10pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
}

.sidebarActive {
    color: #E61B4C !important;
}

.sidebarItem:hover {
    color: #E61B4C;
}

.sidebarItem:focus {
    outline: 0;
}

.logo {
    width: 170px;
    height: 60px;
    
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 12px;
}

.catText {
    color: white;
    font-size: 11pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    padding-left: 1rem;
    margin-bottom: 10px;
    margin-top: 3rem;
}

.footerPlayer {
    display: flex;
    
    position: fixed;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:#201F26;
    box-shadow: 0 -20px 70px -5px rgba(0,0,0,0.3);
}

.myBreadcrumb {
    
    margin-bottom: 0 !important;
    background-color: rgba(0,0,0,0) !important;
}

.myBreadcrumbItem {
    color: #5D5D5D;
    font-size: 10pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
}

.myBreadcrumbItem a {
    color: #5D5D5D;
    text-decoration: none;
    
}
.myBreadcrumbItem a:hover {
    color: #E61B4C;
    text-decoration: none;
}


.myBreadcrumbItem a:focus {
    outline: 0; 
}


.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
    color: #5d5d5d !important;
 }

 .myBreadcrumbItem.active {
     color: #5d5d5d !important;
 }


.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid red;
}

.username {
    font-size: 10pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: #E61B4C !important;
}

a:hover .username {
    transition: color 0.17s ease-out; 
    color: #E61B4C;
    text-decoration: none;
}

a:hover .avatar {
    border-width: 3px;
}

.notificationLink {
    vertical-align: middle;
    color: #5d5d5d;
    font-size: 11pt;
}

a, a:link, a:active, a:visited {
    transition: color 0.17s ease-out; 
   }

a .avatar, a:hover .avatar {
    transition: border-width 0.17s ease-out;
}

.genresList {
    line-height: 25px;
    color: #5D5D5D;
    font-size: 18pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
}

.genresLink {
    color: #5d5d5d;
}

a:focus {
    outline: 0;
}

.artwork {
    width: 180px;
    height: 180px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.player-row {
    height: 90px;
    display: flex;
    align-items: center;

}

.player-artist-name {
    letter-spacing: .5px;
    color: #5D5D5D;
    font-size: 11pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
}

.player-track-name {
    margin-top: -8px;
    color: #E61B4C;
    font-size: 21pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
}

.playButton {
    margin-top: -15px;
}

.forwardButton {
    font-size: 10pt;
    margin-left: 2px;
}

.next-song-label {
    margin-top: -10px;
    letter-spacing: .5px;
    color: white;
    font-size: 10pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
}

.waveform {
    min-width: 455px;
    min-height: 90px;
}

.artist-info {
    width: 180px;
    margin-top: 2rem;
    margin-left: 1rem;
    text-align: center;
}

.artist-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:3px solid #5D5D5D;
}

.links-wrap {
    text-align: left;
    margin-left: 3rem;
    line-height: 100%;
}

.artist-links {
    color: #5D5D5D;
    font-size: 9pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
}

.artist-name {
    font-size: 12pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: white;
}


.your-rating {
    margin-top: 2rem;
    margin-left: 1rem;
    padding-left: 0;
    padding-right: 2rem;
}

.your-rating-h {
    font-size: 14pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.text-area {
    display: block;
    background-color: #2D2B36;
    width: 450px;
    height: 100px;
    border-radius: 5px;
    padding: 0.7rem;
    outline: none;
    resize: none;
    overflow: hidden;
    border-width: 0;
    color: white;
}

.review-buttons {
    float: right;
}

.inactive {
    color: #5D5D5D;
}

.artwork-footer {
    
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border:1px solid #5D5D5D;
}


.footer-artist-name {
    
    margin-top: 15px;
    margin-left: 15px;
    display: block;
    color: #5D5D5D;
    font-size: 6pt;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
}

.footer-track-name {
    display: block;
    margin-top: -2px;
    color: #E61B4C;
    font-size: 12pt;
    font-family: "Montserrat";
    font-weight: 600;
}


.footer-controls {
    display: flex;
    align-items: center;
    font-size: 10pt;
}

.slide-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    width: 75%;
}

.footer-player-time {
    display: flex;
    align-items: center;
}

.slider {
    background: linear-gradient(90deg, #E61B4C 0%, #5D5D5D 0%);
    -webkit-appearance: none;
    width: 500px;
    height: 5px;
    border-radius: 12px;
    box-shadow: 
}

.slider:hover {
    opacity: 1;
}
.slider:focus {
    outline: 0;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}



.volumeSlider {
    background: linear-gradient(90deg, #E61B4C 100%, #5D5D5D 100%);
    -webkit-appearance: none;
    width: 150px;
    height: 5px;
    border-radius: 12px;
    box-shadow: 
}

.volumeSlider:hover {
    opacity: 1;
}
.volumeSlider:focus {
    outline: 0;
}
.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.footer-player-button {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
}


.footer-player-button:focus {
    outline: 0;
}



#wave_wrap { 
     cursor: pointer;
   } 
   
   
     #progress {
       z-index: 1;
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
     }
   
     #progress .progress-bar {
       width: 50%;
       height: 100%;
     }
   
     #progress_over {
       height: 100%;
       z-index: 2;
       position: absolute;
       top: 0;
       left: 0;
       width: 0;
       opacity: 0.8;
     }